Some image URLs are not accepted

When trying to ad an advertisement I receive the following error:

[{"code":2006,"text":"invalid url","msg":"The value of field 'images[0]' is not a valid url","field":"images[0]","arg":"http://www.lil.nl/upload/22/products/33978/kunststof-hondenmand-zwart-69cm---perla-sale[0].jpg"},{"code":2006,"text":"invalid url","msg":"The value of field 'images[1]' is not a valid url","field":"images[1]","arg":"http://www.lil.nl/upload/22/products/33978/kunststof-hondenmand-zwart-69cm---perla-sale[4].jpg"}]

But those image URLs seem perfectly fine to me.


We are verifying to what Java7 currently implements in the URI() constructor and that follows [RFC 2396](https://tools.ietf.org/html/rfc2396). [Section 2.4.3](https://tools.ietf.org/html/rfc2396#section-2.4.3) lists the square brackets as 'unwise' and they should be escaped.

The more recent [RFC 3986](https://tools.ietf.org/html/rfc3986#section-2.2) lists the square brackets as reserved characters. 

URL encode them and you're good. [ == %5B ] == %5D


Thanks.

The strange thing is that Microsoft changed this functionality from .NET 4 to .NET 4.5 to no longer escape these characters.
See here: http://stackoverflow.com/questions/20003106/uri-escapeuristring-with-square-braces


Strange. RFC 2396 clearly says that these should be escaped.

```
Data corresponding to excluded characters must be escaped in order to
be properly represented within a URI.
```

Also, RFC 3986 Section 3.2.2 states

```
A host identified by an Internet Protocol literal address, version 6
[RFC3513] or later, is distinguished by enclosing the IP literal
within square brackets ("[" and "]").  This is the only place where
square bracket characters are allowed in the URI syntax.
```
